.titulo {
    font-size: x-large;
    margin-right: 32px;
}

.container {
    border: 2px solid rgb(247, 191, 244);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 50%;
    border: 1px solid rgb(247, 191, 244);
    width: 100px;
}

body {
    background-image: width 1920px url(https://static.vecteezy.com/ti/vetor-gratis/t2/2072427-marble-effect-inkscape-background-in-lilac-gratis-vetor.jpg);

}